# Hugo 构建输出
/public
/resources
hugo_stats.json

# macOS 系统垃圾文件
.DS_Store

# Windows 系统缓存
Thumbs.db

# Obsidian 配置目录（包括插件和主题）
.obsidian/
         
*.excalidraw        # Obsidian Excalidraw 插件的图形文件
*.canvas            # Obsidian Canvas 文件

content/_模版/       # Obsidian 模板文件夹

# 临时/编辑器缓存
*.swp
*.tmp
*~


#Hugo 在本地构建时生成的锁文件，用来防止同时有多个构建进程冲突
.hugo_build.lock
.obsidian
