<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {{ if or .Site.Params.navbar.brandLogo .Site.Params.favicon }}
                <div class="pb-2">
                    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                        <img alt="Footer logo" src="https://r2.inkx.cc/logo.png"
                            height="40px" width="40px">
                    </a>
                </div>
            {{ end }}
                &copy; 2025   In_K    All Rights Reserved

            <div class="text-secondary">
                BEIJING LIMINALITY Culture and Art Co., Ltd.

                </a>
            </div>
        </div>
    </div>
</div>
