{{ define "head" }}
  <meta name="description" content="{{ .Params.description | default (.Summary | plainify) | default .Title }}">
  <link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
  <link rel="stylesheet" href="/css/override.css" media="all">
{{ end }}

{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">

  <h2 class="text-center pb-2">{{ .Title }}</h2>

  {{ $base := .Pages.ByTitle.ByDate.Reverse }}
  {{ $weighted := where $base "Params.weight" "gt" 0 }}
  {{ $regular := where $base "Params.weight" "eq" nil }}
  {{ $ordered := slice }}
  {{ range $weighted.ByWeight }}
    {{ $ordered = $ordered | append . }}
  {{ end }}
  {{ range $regular }}
    {{ $ordered = $ordered | append . }}
  {{ end }}
  {{ $paginator := .Paginate $ordered }}

  <div class="list-masonry">
    {{ range $paginator.Pages }}
      <article class="list-masonry-item">
        <div class="card shadow-sm">

          {{ if and (not (.Site.Params.listPages.disableFeaturedImage | default false)) (.Params.image) }}
            <div class="card-header p-0 border-0">
              <a href="{{ .RelPermalink }}">
                <picture>
                  {{ with .Params.image_avif }}<source srcset="{{ . }}" type="image/avif">{{ end }}
                  {{ with .Params.image_webp }}<source srcset="{{ . }}" type="image/webp">{{ end }}
                  <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.image_alt | default .Title }}" loading="lazy">
                </picture>
              </a>
            </div>
          {{ end }}

          <div class="card-body p-4">
            <a href="{{ .RelPermalink }}" class="primary-font card-title text-decoration-none">
              <h5 class="card-title" title="{{ .Title }}">{{ .Title }}</h5>
            </a>

            <div class="card-text secondary-font mt-2">
              <p style="font-size:0.85rem; line-height:1.4em; color:#666;">
                {{ .Params.description | default (.Summary | plainify) | truncate 300 }}
              </p>
            </div>
          </div>

        </div>
      </article>
    {{ end }}
  </div>

  <!-- 分页组件 -->
  <div class="row justify-content-center">
    <div class="col-auto m-3">
      {{ template "_internal/pagination.html" $paginator }}
    </div>
  </div>

</div>
{{ end }}
