{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
{{ end }}

{{ define "title" }}
{{ .Site.Title }} | {{ .Site.Params.terms.pageNotFound | default "404 page not found" }}
{{ end }}

{{ define "main" }}
<div class="container py-5 text-center">
    <img src="https://r2.inkx.cc/404.jpg" alt='{{ .Site.Params.terms.pageNotFound | default "我坐在秋千上误将一阵风疑作你" }}' class="img-fluid" width="40%">
    <h1>{{ .Site.Params.terms.pageNotFound | default "我坐在秋千上误将一阵风疑作你" }}</h1>
</div>
{{ end }}